Final Project

In [70]:
%matplotlib inline

##basically just importanting most of the libraries from previous assignments

import numpy as np
import pandas as pd
import csv
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.mixture import GMM
from matplotlib.colors import LogNorm

from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.grid_search import GridSearchCV
from sklearn.model_selection import train_test_split

from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.metrics import classification_report

In [71]:
#Putting Data into Pandas dataframe
with open('C:/Users/Grant/Desktop/Homework/207/final project/train.csv') as csvfile:
    Column_Headers = csvfile.readline().split(',')
    Column_Headers[-1] = "totalcount"
    csvfile.next()
    train_data = []
    for row in csvfile:
        new_row = row.replace('\n', '')
        train_data.append(new_row.split(','))
        
    df = pd.DataFrame(data = train_data[1:-1], columns = Column_Headers)
    
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,totalcount
0,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0,5,27,32
1,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0,3,10,13
2,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0,0,1,1
3,2011-01-01 05:00:00,1,0,0,2,9.84,12.88,75,6.0032,0,1,1
4,2011-01-01 06:00:00,1,0,0,1,9.02,13.635,80,0,2,0,2

In [72]:
#Splitting Columns into Prediction and Numerical vs Categorical
Prediction_Columns = Column_Headers[:-3 or None]
Numerical_Predictors = Prediction_Columns[5:-0 or None]
Categorical_Predictors = Prediction_Columns[0:4 or None]

In [73]:
#Basic Linear Regression using numerical predictors
LinearReg = LinearRegression()
LinearReg.fit(df[Numerical_Predictors], df['totalcount'])
print LinearReg.coef_
print LinearReg.score(df[Numerical_Predictors], df['totalcount'])

[ 2.40765898  5.91332212 -2.73042539  0.59132982]
0.243342480446